flows (1).json
[{"id":"124bcce5.a4e1b3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c5f10d30.76396","type":"ibmiot in","z":"124bcce5.a4e1b3","authentication":"apiKey","apiKey":"1de43764.9e77f9","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0610","applicationId":"","deviceType":"IoT","eventType":"+","commandType":"data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":110,"y":420,"wires":[["6a94a52f.65858c","798b1385.e7dfac","3b23c68d.5df9da","b7ad8457.7e5818"]]},{"id":"6a94a52f.65858c","type":"debug","z":"124bcce5.a4e1b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":420,"wires":[]},{"id":"3b23c68d.5df9da","type":"function","z":"124bcce5.a4e1b3","name":"Temperature","func":"msg.payload = msg.payload.d.temperature \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":500,"wires":[["6a94a52f.65858c","2cbc59e7.8b4566"]]},{"id":"798b1385.e7dfac","type":"function","z":"124bcce5.a4e1b3","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":360,"wires":[["6a94a52f.65858c","2fc0416b.4c4d4e"]]},{"id":"b7ad8457.7e5818","type":"function","z":"124bcce5.a4e1b3","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["6a94a52f.65858c","b814d977.196bb8"]]},{"id":"2cbc59e7.8b4566","type":"ui_gauge","z":"124bcce5.a4e1b3","name":"","group":"b13b8706.719b38","order":1,"width":6,"height":4,"gtype":"gage","title":"","label":" °C","format":"{{value}}","min":0,"max":"100","colors":["#3bd8d6","#26c0b5","#11a1df"],"seg1":"","seg2":"","x":690,"y":500,"wires":[]},{"id":"2fc0416b.4c4d4e","type":"ui_gauge","z":"124bcce5.a4e1b3","name":"","group":"2209dc65.d5b6a4","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"% ","format":"{{value}}","min":0,"max":"100","colors":["#aadb24","#dfdf3a","#ca3838"],"seg1":"","seg2":"","x":670,"y":360,"wires":[]},{"id":"b814d977.196bb8","type":"ui_gauge","z":"124bcce5.a4e1b3","name":"","group":"82e30f6.8c268f","order":1,"width":6,"height":4,"gtype":"gage","title":"","label":"% ","format":"{{value}}","min":0,"max":"100","colors":["#eccf0e","#e6e600","#292424"],"seg1":"","seg2":"","x":670,"y":580,"wires":[]},{"id":"40bc8d7f.599794","type":"ibmiot out","z":"124bcce5.a4e1b3","authentication":"apiKey","apiKey":"289a2168.d9f43e","outputType":"cmd","deviceId":"1206","deviceType":"IoT2","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":140,"wires":[]},{"id":"cc8a801e.85ef4","type":"ui_button","z":"124bcce5.a4e1b3","name":"","group":"a13f396c.619338","order":1,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"ON","color":"","bgcolor":"Light Green","icon":"settings_power","payload":"{\"command\":\"Motor on\"}","payloadType":"json","topic":"","x":180,"y":60,"wires":[["40bc8d7f.599794","6a94a52f.65858c","9ac3678f.e37da8"]]},{"id":"c2cbba15.081058","type":"ui_button","z":"124bcce5.a4e1b3","name":"","group":"a13f396c.619338","order":3,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"OFF","color":"","bgcolor":"Light Green","icon":"not_interested","payload":"{\"command\":\"Motor off\"}","payloadType":"json","topic":"","x":180,"y":180,"wires":[["40bc8d7f.599794","6a94a52f.65858c","9ac3678f.e37da8"]]},{"id":"7d7c2b9e.08a844","type":"ui_text","z":"124bcce5.a4e1b3","group":"a13f396c.619338","order":4,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload.command }}","layout":"row-spread","x":690,"y":60,"wires":[]},{"id":"9ac3678f.e37da8","type":"function","z":"124bcce5.a4e1b3","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["7d7c2b9e.08a844"]]},{"id":"676505e6.1c7fec","type":"inject","z":"124bcce5.a4e1b3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1200,"wires":[["11993ef4.8b3841"]]},{"id":"b1de4df2.abaf4","type":"ui_text","z":"124bcce5.a4e1b3","group":"c0c406d2.b88b48","order":4,"width":6,"height":1,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","x":890,"y":1340,"wires":[]},{"id":"275707e4.b0f1f8","type":"change","z":"124bcce5.a4e1b3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1340,"wires":[["b1de4df2.abaf4"]]},{"id":"f8b414dc.8176e8","type":"ui_text","z":"124bcce5.a4e1b3","group":"c0c406d2.b88b48","order":6,"width":6,"height":1,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"col-center","x":900,"y":1280,"wires":[]},{"id":"6ebaf363.44642c","type":"debug","z":"124bcce5.a4e1b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":1200,"wires":[]},{"id":"be120050.7b47e","type":"ui_text","z":"124bcce5.a4e1b3","group":"c0c406d2.b88b48","order":2,"width":6,"height":1,"name":"","label":"Description","format":"{{msg.payload}}","layout":"col-center","x":870,"y":1120,"wires":[]},{"id":"e923aa73.2d3ec8","type":"change","z":"124bcce5.a4e1b3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1060,"wires":[["e01f896e.7bf248"]]},{"id":"e01f896e.7bf248","type":"ui_text","z":"124bcce5.a4e1b3","group":"c0c406d2.b88b48","order":8,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"col-center","x":880,"y":1060,"wires":[]},{"id":"11993ef4.8b3841","type":"http request","z":"124bcce5.a4e1b3","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Pune, IN&units=imperial&appid=f1d1060c5bbd32eb6da28c9b44ea47b8","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":1200,"wires":[["489e51da.a40ac","c31edb34.701238","e923aa73.2d3ec8","6ebaf363.44642c","275707e4.b0f1f8"]]},{"id":"489e51da.a40ac","type":"change","z":"124bcce5.a4e1b3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1280,"wires":[["f8b414dc.8176e8"]]},{"id":"c31edb34.701238","type":"change","z":"124bcce5.a4e1b3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather.0.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1120,"wires":[["be120050.7b47e"]]},{"id":"1de43764.9e77f9","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b13b8706.719b38","type":"ui_group","z":"","name":"TEMPERATURE ","tab":"55aed299.4a882c","order":2,"disp":true,"width":6,"collapse":false},{"id":"2209dc65.d5b6a4","type":"ui_group","z":"","name":"HUMIDITY","tab":"55aed299.4a882c","order":1,"disp":true,"width":6,"collapse":false},{"id":"82e30f6.8c268f","type":"ui_group","z":"","name":"MOISTURE","tab":"55aed299.4a882c","order":3,"disp":true,"width":6,"collapse":false},{"id":"289a2168.d9f43e","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a13f396c.619338","type":"ui_group","z":"","name":"Button","tab":"5b4c947e.99ed9c","order":2,"disp":true,"width":"10","collapse":false},{"id":"c0c406d2.b88b48","type":"ui_group","z":"","name":"Weather From Pune","tab":"ed3f204f.7af1d","order":2,"disp":true,"width":6,"collapse":false},{"id":"55aed299.4a882c","type":"ui_tab","z":"","name":"Farm","icon":"local_florist","order":1,"disabled":false,"hidden":false},{"id":"5b4c947e.99ed9c","type":"ui_tab","z":"","name":"Motor Control","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"ed3f204f.7af1d","type":"ui_tab","z":"","name":"Weather","icon":"cloud","disabled":false,"hidden":false}]